:root{
    --font: "Pacifico", cursive;
}

.img1{
    background-image: url('../image/freepik__adjust__82119.png');
    height: 100vh;
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left_content {

    margin-top: 9rem;
    width: 30%;
    padding-left: 5rem;
}

.loginImg {
    width: 100%;
    display: block;
    height: 100vh;
}

.log {
    width: 70%;
}

.parent {
    display: flex;
}

.logo{
  width: 10rem;
}
.logo img{
    width: 100%;
}
.left_content h1 {
    font-size: 2.5rem;
    margin: 1.5rem 0 0.5rem 0;
    font-family: var(--font);
    font-weight: 700;
}

.left_content h1 span {
    color: #FAC031;
}

.left_content  p{
    font-size: 1.1rem;
    color: gray;
    margin: 0.5rem 0 1rem 0;
    font-family: var(--font);
    font-weight: lighter;
}
form{
    margin-top: 2rem;
}
label{
    display: block;
    font-family: var(--font);
    font-weight: lighter;
    margin: 1rem 0 0.2rem 0;
    color: gray;
}

input{
    width: 90%;
    padding: 0.5rem 2rem 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.remember{
    display: flex;
    align-items: center;

}

.remember input{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.remember_forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    width: 90%;
    
}
.remember_forgot a{
    color: #FAC031;
    font-family: var(--font);
    font-weight: lighter;
}

.remember label{
    margin: 0;
}

.btn{
    width: 90%;
    padding: 0.5rem 2rem 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #FAC031;
    color: white;
    font-family: var(--font);
    font-weight: bold;
    margin-top: 1.5rem;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #f8c95a;
    cursor: pointer;
}

.links{margin-top: 1.5rem;}
.links a{
    text-decoration: none;
    color:#FAC031 ;
    font-family: var(--font);
    font-weight: lighter;
    margin-right: 1rem;
}

 /*-------------- sign-up --------------*/

 h2{   font-size: 2.3rem;
    margin: 1.5rem 0 0.5rem 0;
    font-family: var(--font);
    font-weight: 700;}

h2 span{color: #FAC031;}

.left_content_sign{
    margin-top: 2rem;
    width: 30%;
    padding-left: 5rem;
}
.left_content_sign p{
    font-size: 1.1rem;
    color: gray;
    margin: 0.5rem 0 1rem 0;
    font-family: var(--font);
    font-weight: lighter;
}

.img2{
    background-image: url('../image/freepik__adjust__82119.png');
    height: 100%;
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.left_content_sign .btn{
    margin-top: 1rem;
}

.left_content_sign .links{margin-top: 0.8rem;}